#dashboard-menu ul {
  list-style: none;
  padding-left: 20px;
  margin-top: 20px;
}

#dashboard-menu ul li a {
  display: block;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  color: #333;
}

#dashboard-menu ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}
