#blog-details-page {
  margin-top: 150px;
}

.blog-details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#blog-details-image-section {
  width: 35%;
}

#blog-details-section {
  width: 40%;
}
#details-page-order-section {
  width: 15%;
}

.blog-details-image {
  width: 100%;
  height: 300px;
}

.blog-details-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.blog-general-features .blog-name h2 {
  font-size: 25px;
  font-weight: 400;
  line-height: 33px;
}

.blog-general-feature-blog-price small {
  font-size: 20px;
  margin: 10px 0;
}

.other-blog-details > ul {
  list-style: none;
}

.other-blog-details table {
  width: 70%;
}

.other-blog-details table tr td {
  font-size: 14px;
  line-height: 27px;
}

.other-blog-details .blog-descriptions {
  margin-top: 30px;
}
.other-blog-details .blog-descriptions dt {
  font-size: 20px;
}

.other-blog-details .blog-descriptions dd {
  font-size: 12px;
}

.blog-stock h6 {
  font-size: 20px;
  font-weight: 400;
}

.quantity-form label {
  font-size: 12px;
}

.quantity-form input[type="number"] {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 6px 0 6px 15px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin-bottom: 15px;
}

.quantity-form input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px 0;
  color: #fff;

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

#add-to-cart-btn {
  background-color: #f39c12;
}

#order-now-btn {
  background-color: #e74c3c;
}

.payment-secure-details-and-other h4 {
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
}

.payment-secure-details-and-other h6 {
  font-size: 16px;
  font-weight: 400;
}
.payment-secure-details-and-other table {
  width: 120px;
  font-size: 12px;
}
